/* main layout */
.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 20px;
}

.main-layout>.full {
    grid-column: 1 / -1;
    margin-inline: -20px;
    padding-inline: 20px;
}

.main-layout .hidden {
    display: none
}

/* gallery-layout, saved-memes-layout */
.gallery-layout,
.saved-memes-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
}