
































/* MOBILE ONLY  */
/* @media (max-width: 920px) {

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        border-inline-start: 1px solid #ccc;
        background-color: rgb(255 255 255 / 90%);
        min-width: 200px;

        transition: transform .6s;
    }

    body:not(.menu-open) .main-nav {
        transform: translateX(100%);
    }

    .main-nav>ul {
        flex-direction: column;
    }

    .main-nav>ul>li {
        border-bottom: 1px solid #ccc;
    }

    .main-nav li>a {
        display: grid;
        place-items: center;
        padding-block: 0.8em;
    }

    .main-nav li>a:hover {
        background-color: #eee;
        color: inherit;
    } */

    /* screen */
/* 
    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;

        transition: opacity .6s;
    }

    body.menu-open .main-screen {
        opacity: 1;
        pointer-events: auto;
    } */

/* } */

/* SMALL  */
/* @media (min-width: 640px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }

    .card-layout {
        display: grid;
    }
} */

/* MEDIUM  */
/* @media (min-width: 920px) {

    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }

    .card-layout {
        --layout-card-margin: 80px;
        grid-template-columns: 1fr 1fr;
    }

    .card-layout>*:first-child:nth-child(odd) {
        grid-column: 1 / -1;
    }

    .card-layout>*:first-child:nth-child(odd)>*:not(.card-image) {
        margin-inline: var(--layout-card-margin);
    }

    .main-nav ul>li:not(:last-child) {
        margin-inline-end: 100px;
    }

    .btn-menu {
        display: none;
    }

    .main-screen {
        display: none;
    }
} */

/* LARGE  */
/* @media (min-width: 1100px) {

    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

    .card-layout {
        grid-template-columns: var(--layout-card-margin) 1fr 60px 1fr var(--layout-card-margin);
    }

    .card-layout>*:nth-child(even) {
        grid-column: 2;
    }

    .card-layout>*:nth-child(odd) {
        grid-column: 4;
    }

    .card-layout>* {
        margin-bottom: 120px;
    }

}

@media (width < 1100px) and (width >=920px) {
    .card-layout {
        column-gap: 40px;
    }
} */