/* poppins */
@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins/Poppins-Light.ttf');
}

/* special_elite */
@font-face {
    font-family: Special_Elite;
    src: url('../../fonts/Special_Elite/SpecialElite-Regular.ttf');
}