/* poppins */

@font-face {
    font-family: Poppins-Light;
    src: url(/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(/fonts/Poppins/Poppins-Medium.ttfs);
}

@font-face {
    font-family: Special_Elite;
    src: url(/fonts/Special_Elite/SpecialElite-Regular.ttf);
}