







/* :root { */
    /* pallete */
    /* --clr-primary-2: #f0f0f0;
    --clr-primary-1: #b4ad9e;
    --clr-primary: #626262;
    --clr-primary1: #000; */

    /* layout vars */


    /* --s: 600px;
    --m: 880px;
    --l: 1060px; */
/* } */