.editor-container {
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--clr-primary-2);
}

.canvas-container {
    margin: 10px auto;
    border: 1px solid black;
}

canvas {
    max-width: 100%;
    height: auto;
    background-color: var(--clr-primary-2);
    border: 1px solid black;
}

.text-input {
    border-radius: 8px;
    font-size: 1em;
}

.editor-toolbar {
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr-primary-2);
    padding: 1.5rem;
    margin-top: 1rem;
}

.line-controls-container,
.text-controls-container {
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #181010;
    border-radius: 8px;
    background-color: var(--clr-primary-3);
}

.editor-toolbar button {
    padding: 0.5rem;
    border: 2px solid #333;
    border-radius: 6px;
    background-color: var(--clr-primary-3);
    color: var(--clr-primary1);
    cursor: pointer;
    transition: all 0.2s ease;
    gap: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editor-toolbar button:hover {
    background-color: #e1e1e1;
    transform: translateY(-1px);
}

.color-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2.75rem;
    min-height: 2.75rem;
}

.color-input {
    opacity: 0;
    position: absolute;
    height: 100%;
    cursor: pointer;
}

.fa-fill {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary-3);
    border-radius: 6px;
    font-size: 1rem;
    color: var(--clr-primary1);
    border: 2px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-controls-container i {
    font-size: 1.5rem;
    color: var(--clr-primary1);
    padding: 0.5rem;
}

.action-controls-container a,
.action-controls-container button {
    background: none;
    border: none;
}

.action-controls-container a:hover i,
.action-controls-container button {
    color: #666;
}