.saved-memes-container button {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.saved-memes-gallery img {
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}